/******Général*******/
@font-face {
	font-family: 'Roboto', sans-serif;
	font-family: 'Shrikhand', serif;
}

.main-container {
	width: 100%;
	height: 2100px;
}

h1 {
	font-family: 'Shrikhand', serif;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

p {
	margin: 0;
}

/*****Loader******/
.loader {
	border: 4px solid #9356DC;
	border-top: 4px solid #FF79DA;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360de); }
}

/*****Header******/
header {
	height: 115px;
}

.logo {
	text-align: center;
	padding: 18px 0 8px 0;
}

.location {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-color: #EAEAEA;

    .fa-location-dot {
		padding: 0 18px 3px 0;
	}

	& p {
		font-size: 18px;
		font-weight: 500;
	}
}

/*****Hero*****/
.hero {
	background-color: #F3F6F4;
	text-align: center;
	height: 270px;
	padding-top: 10px;

	& h2 {
		font-size: 26px;
		padding: 0 95px;
		margin-bottom: 10px;
	}

	& p {
		font-size: 18px;
		padding: 0 50px;
		margin: 0 0 30px 0;
	}

	& .btn {
		width: 220px;
		height: 52px;
		font-size: 16px;
		color: white;
		border-style: none;
    	background: linear-gradient(#FF79DA, #9356dc);
    	border-radius: 25px;

    	&:hover {
    		filter: brightness(110%);

    	}
	}
}

/*****Fonctionnement*****/
.fct {
	height: 395px;
	margin-top: 45px;
	padding: 0 6px 0 20px;

	& h2 {
		margin-bottom: 30px;
	}

	& .fa-solid {
		padding: 12px 28px 16px 20px;
		color: dimgrey;
		font-size: 20px;
	}

	& .fa-solid:hover {
		color: #9356DC;
	}
}

ol {
	counter-reset: fonction; /**j'initialise et nomme le compteur**/
	padding-inline-start: 2px;
}

 
li {
	list-style-type: none;
	counter-increment: fonction; /**j'incrémente le compteur à chaque nouveau li**/
	display: flex;
	align-items: center;
	width: 95%;
	height: 75px;
	margin: 0 0 25px 10px;
	background: #F3F6F4;
	border-radius: 20px;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;	
}

li::before {
		content: counter(fonction); /**j'affiche le compteur**/
		margin: 4px 8px 0 -10px;
		padding-top: 4px;
		text-align: center;
		background: #9356DC;
		border-radius: 50%;
		width: 24px;
		height: 20px;
		font-size: 15px;
		font-weight: normal;
		color: white;
}	

/***Restaurants***/
.restaurants {
	height: 1260px;
	background-color: #F3F6F4;
	padding: 0 18px;

	& .resto-title {
		padding-top: 40px;
	}

	& .resto-cards {
		width: 100%;

		& a {
			text-decoration: none;
		}

		& .card {
			width: 100%;
    		height: 250px;
    		background-color: white;
    		border-radius: 20px; 
    		margin-top: 20px;
   	 		border: none;

   	 		& .image-container {
				position: relative;
			}

			& .image-text {
				position: absolute;
				width: 80px;
				height: 25px;
				padding-top: 6px;
				top: 5%;
				right: 5%;
				z-index: 1;
				text-align: center;
				color: #1c7962;
				font-size: 15px;
				font-weight: 500;
				background-color: #99E2D0;
			}	

			& img {
    			width: 100%;
    			height: 172px;
    			border-radius: 20px 20px 0 0;
    			object-fit: cover;
			}

			& .card-content {
				position: relative;
    			width: 97%;
    			padding-left: 10px;
    			display: flex;
    			flex-direction: column;
   				justify-content: space-between;     
				color: black;

				& .texte {
					position: absolute;
					left: 0;
					padding-left: 15px;

					& h3 {
						margin: 13px 0 8px 0;
						font-size: 18px;
					}

					& p {
						font-size: 17px;
					}
				}
			}

			& .like {
				float: right;
				padding: 20px 54px 0 0;
				font-size: 25px;
				cursor: pointer;			
			
				& .fa-heart {
					font-weight: normal;
				
					&:active {
						font-weight: 600;
						color: #9356DC;
					}			
				}			
			}	
		}
	}
}

/***Footer***/
.footer {
	width: 100%;
	height: 166px;
	background-color: #353535;
	padding: 20px 0 0 22px;

	& .logo {
		font-family: shrikhand;
		text-align: left;
		color: white;
		font-size: 18px;
		padding: 0;
		margin-bottom: 14px;
	}

	& .link {
		display: flex;
		justify-content: left;
		color: white;
		text-decoration: none;
		font-size: 16px;
		padding: 0 10px 8px 0;

		& .fa-solid {
			font-size: 14px;
			padding-right: 5px;
		}
	}
}

br {
	content: "";
	display: block;
	margin-bottom: 5px;
}

/************************************/
/******Pages Menu*******/
.second-container {
	height: 1400px;
}

/*****header-menu******/
#menu {	
	display: flex;
	height: 65px;	
}

.return-container {
	display: inline;
	padding: 25px 0 0 25px;
	font-size: x-large;

	& a:hover {
		display: block;
		color: black;
	}
}

.logo-menu {
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

/********Carte-resto*********/
.carte-resto {
	height: 1345px;
	position: relative;
}

/*****Photo******/
.photo {
	height: 385px;

	& img {
   		width: 100%;
    	height: 385px;
    	object-fit: cover; 	
	}
}

/******Menu*******/
.menu-2 {
		height: 1250px;
	}

.menu {
	position: absolute;
	top: 220px;
	width: 100%;
	height: 1115px;
	background-color: #F3F6F4;
	border-radius: 40px 40px 0 0;


	& .title {
		display: flex;
		justify-content: space-between;
		margin-top: 18px;

		& h2 {
			font-family: shrikhand;
			font-size: 28px;
			font-weight: normal;
			padding: 15px 0 0 15px;
			margin: 0;
		}

		& .like {
			font-size: 25px;
			padding: 20px 50px 20px 30px;
			cursor: pointer;			
			

			&:active {
				font-weight: 600;
				color: #9356DC;
			}	
		}
	}

	& .carte {
		position: relative;
		height: 1035px;
		margin-top: -12px;

		& h3{
			padding: 24px 0 5px 0;
			font-weight: normal;
			font-size: 16px;
			margin-bottom: 0;
			border-bottom: solid 3px #99E2D0;
			width: 40px;
			margin-left: 15px;
		}

		& h4{
			font-size: 18px;
			margin: 0;
			padding: 12px 0 4px 0;
		}

		& p {
			display: inline;
		}

		& ol {
			margin-top: 12px;
		}

		& li::before {
			content: none;
		}

		& li {
			display: block;
			width: 90%;
			height: 67px;
			background: white;
			padding-left: 15px;
			margin: 0 14px 15px 13px;

			& .detail {
				width: 280px;
				font-weight: normal;
				font-size: 14px;
			}

			& .tarif {
				width: 60px;
				font-weight: bold;	
				float: right;
			}
		}

		& .btn {
			width: 220px;
			height: 52px;
			font-size: 16px;
			color: white;
			border-style: none;
    		background: linear-gradient(#FF79DA, #9356dc);
    		border-radius: 25px;
    		margin: 20px 135px;

    		&:hover {
    			filter: brightness(110%);
    		}
		}
		
	}
}

.scd-container {
	height: 1500px;

	& .carte-resto-2 {
		height: 1435px ;

		& .menu-2 {
			height: 1215px;
		}
	}
}


.anim-1 li {
	opacity: 0;
	animation: anim 2s ease-in-out forwards;
}

.anim-2 li {
	opacity: 0;
	animation: anim 6s ease-in-out forwards;
}

.anim-3 li {
	opacity: 0;
	animation: anim 8s ease-in-out forwards;
}

@keyframes anim {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*********************************/
/****** Media queries ***********/
@media screen and (min-width: 768px) {
	.main-container {
		height: 1250px;
	}

/********Header******/
header {
	height: 149px;

	& .logo {
		display: flex;
	justify-content: center;
	align-items: center;
		height: 69px;
		padding-top: 20px;
	}

	& .location {
		height: 52px;
	}
}

/********Hero********/
	.hero {
		height: 230px;

		& h2 {
			font-size: 40px;
			margin: 20px 0 25px 0;
		}
	}

/*********Fonctionnement******/
	.fct {
		height: 185px;
		padding: 0 170px;

		& ol {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
		}
	}
	
/********Restaurants*********/	
	.restaurants {
		height: 675px;
		padding: 0 170px;

		& .resto-title {
			padding-top: 10px;

			& h2 {
				margin-bottom: 6px;
			}
		}

		& .resto-cards {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px 100px;
		}	
	}

/*********Footer********/
	.footer {
		width: auto;
		height: 40px;
		padding: 52px 20px 20px 20px;
		position: relative;

		& .logo {
			position: absolute;
			width: 110px;
			height: 25px;
			padding-top: 45px;
			top: 5%;
			right: 5%;
			z-index: 1;

			& p {
				padding-left: 30px;
			}
		}
		
		& .infos {
			text-align: right;
			padding-right: 200px;
		
			& .link {
				display: inline-block;
				text-align: right;
				padding: 0 10px;
			
				& .fa-solid {
					font-size: 13px;
					margin: 0;
					padding-top: 3px;
				}
			}
		}
	}

/*****Media Queries Page Menu*****/
.second-container {
	height: 1595px;

	& #menu {
		height: 95px;

		& .logo-menu {
			padding-top: 28px;
		}	
	}

	& .carte-resto {
		height: 1500px;

		& .photo {
			height: 385px;

			& .img {
				height: 385px;
			}
		} 

		& .menu {
			width: 70%;
			height: 1155px;
			top: 345px;
			margin-left: 235px;

			& .title {
				justify-content: center;
				padding-top: 20px;

				& .like {
					padding-top: 22px;
				}
			}

			& .carte {

				& h3 {
					margin-left: 240px;
				}


				& li {
					width: 56%;
					margin: auto;
					margin-bottom: 15px;
				}

				& .btn {
					margin: 25px 445px;
				}
			}
		}
	}
}

.scd-container {
	height: 1680px;

	& .carte-resto-2 {
		height: 1585px ;

		& .menu-2 {
			height: 1240px;
		}
	}
}


