/******Général*******/
* {
	font-family: 'Roboto', sans-serif;
}

.main-container {
	width: 105%;
	height: 2115px;
}

h1 {
	font-family: 'Shrikhand', serif;
}

body {
	margin: 0;
}

/*****Header******/
header {
	height: 110px;
}

.logo {
	padding: 14px 100px 10px 100px;
}

.location {
	display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #EAEAEA;
    padding: 0 120px;
  
}

.location p {
	font-size: 18px;
	margin: 0;
}

.fa-location-dot {
	padding-bottom: 3px;
	padding-right: 18px;
}

/*****Hero*****/
.hero {
	background-color: #F3F6F4;
	text-align: center;
	height: 290px;
	padding-top: 14px;
}

.hero h2 {
	font-size: 30px;
	padding-left: 35px;
	padding-right: 45px;
	margin-bottom: 10px;
}

.hero p {
	font-size: 18px;
	padding: 0 20px;
	margin-top: 0;
	margin-bottom: 30px;
}

button {
	width: 220px;
	height: 52px;
	font-size: 16px;
	color: white;
	border-style: none;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 25px;
}

/*****Fonctionnement*****/
.fonctionnement {
	height: 390px;
	margin-top: 45px;
	padding: 0 20px;
}

ol {
	counter-reset: fonction; /**j'initialise et nomme le compteur**/
	padding-inline-start: 2px;
}

li {
	list-style-type: none;
	counter-increment: fonction; /**j'incrémente le compteur à chaque nouveau li**/
	display: flex;
	align-items: center;
	width: 95%;
	height: 75px;
	margin-left: 10px;
	margin-bottom: 25px;
	background: #F3F6F4;
	border-radius: 20px;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li::before {
	content: counter(fonction); /**j'affiche le compteur**/
	margin: 4px 8px 0 -10px;
	padding-top: 4px;
	text-align: center;
	background: #9356DC;
	border-radius: 50%;
	width: 24px;
	height: 20px;
	font-size: 15px;
	font-weight: normal;
	color: white;
}

.fonctionnement .fa-solid {
	padding: 12px 28px 16px 20px;
	color: dimgrey;
	font-size: 20px;
}

.fonctionnement .fa-store {
	color: #9356DC;
}

/***Restaurants***/
.restaurants {
	height: 1265px;
	background-color: #F3F6F4;
	padding: 0 30px;
}

a {
	text-decoration: none;
}

.resto-title {
	padding-top: 40px;
}

.card {
    background-color: white;
    border-radius: 20px; 
    margin-top: 20px;
}

.resto-cards {
	width: 100%;
}

.resto-cards .card {
    width: 100%;
    height: 255px;
 }

.resto-cards img {
    width: 100%;
    height: 172px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.image-container {
	position: relative;
}

.image-text {
	position: absolute;
	width: 80px;
	height: 25px;
	padding-top: 6px;
	top: 5%;
	right: 5%;
	z-index: 1;
	text-align: center;
	color: #1c7962;
	font-size: 15px;
	font-weight: 500;
	background-color: #99E2D0;
}

.resto-cards .card-content {
    width: 97%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
	color: black;
}

.card-content {
	position: relative;
}

.texte {
	position: absolute;
	left: 0;
	padding-left: 10px;
}

.texte h3 {
	margin: 13px 0 0 0;
	font-size: 18px;
}

.texte p {
	margin: 3px 0 0 0;
	font-size: 17px;
}

.icon-clicked {
	position: absolute;
	right: 0;
	padding: 20px 30px 0 0 ;
	font-size: 25px;
}

.fa-heart {
	font-weight: normal;
}

/***Footer***/
.footer {
	width: 100%;
	height: 270px;
	background-color: #353535;
	font-size: 18px;
	color: white;
	padding: 25px 0 0 20px;
}

.f_logo {
	width: 140px;
}

.f-logo p {
	font-family: shrikhand;
	color: white;
	font-weight: 400;
	font-size: 20px;
	margin-top: 0;
}

.infos {
	width: 250px;
	height: 150px;	
}

.infos p {
	color: white;
}

.infos i {
	color: white;
	padding-top: 8px;
	padding-right: 10px;
}

.proposer-resto {
	display: flex;
	justify-content: left;
	padding-left: 5px;
}

.partenaire {
	display: flex;
	justify-content: left;
}

.infos p {
	margin: 5px;
	height: 25px;
}
