/******Général*******/
* {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Shrikhand', serif;
}

body {
	margin: 0;
}

/*****Header******/
header {
	width: 100%;
	height: 110px;
}

.logo {
	
	padding: 14px 100px 10px 100px;
}

.location {
	display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #EAEAEA;
    padding: 0 120px;
  
}

.location p {
	font-size: 18px;
	margin: 0;
}

.fa-location-dot {
	padding-bottom: 3px;
	padding-right: 18px;
}

/*****Hero*****/
.hero {
	background-color: #F3F6F4;
	text-align: center;
	width: 100%;
	height: 290px;
	padding-top: 35px;
}

h2 {
	font-size: 30px;
	padding-left: 35px;
	padding-right: 45px;
	margin-bottom: 10px;
}

.hero p {
	font-size: 18px;
	padding: 0 20px;
	margin-top: 0;
	margin-bottom: 30px;
}

button {
	width: 220px;
	height: 52px;
	font-size: 16px;
	color: white;
	border-style: none;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 25px;
}

